@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
    /* Remove the navbar's default margin-bottom and rounded borders */ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.jumbotron {
    background-color: #92B4EC;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
    
    /* Add a gray background color and some padding to the footer */
footer {
    background-color: #FFD24C;
    padding: 25px;
}


li,a, button {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

.nav_links {
    list-style: none;
    display: flex;
}

.nav_links li {
    padding: 0px 20%;
}

.nav_links li a {
    transition: all 0.3s ease 0s;

}

.nav_links li a:hover {
    color: #0088a9;
    
}   

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: aliceblue;
    font-size: 20px;

}

button:hover {
    background-color: rgba(0, 136, 169,0.8);

}

.logo {
    width: 35px;
}

.go-top-container {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}

.go-to-button {
    width: 0rem;
    height: 0rem;
    background-color: #92B4EC;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-to-button i {
    position: absolute;
    font-size: 1.7rem;
    transition: .2s;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;

}

.show {
    z-index: 10;
}

.show .go-to-button {
    animation: popup .3s ease-in-out;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0%{
        width: 0rem;
        height: 0rem;   
    }
    50%{
        width: 8rem;
        height: 8rem;   
    }
    100%{
        width: 6.6rem;
        height: 6.6rem;   
    }
}